body {
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: black;  
    font-weight: 200; 
    
    text-align: center;

    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    
}
